# .col-md-8
    #   - if @members
    #     = render "trips/members", members: @members
    #   - else
    #     = render 'trips/new_post'
    #     - @group_posts.each do |post|
    #       = render post